body {
	background: #fff;
}
.wrapper {
	max-width: 900px !important;
}
.wrapper_cont {
	max-width: 900px !important;
	padding: 30px 0;
}
.section-grey {
	background: #F9F9F9;
}
.heading {
	text-transform: uppercase;
	font-weight: 700;
	position: relative;
}
.heading:before {
    content: "";
    background: #2196F3;
    width: 40px;
    height: 2px;
    position: absolute;
    bottom: -4px;
    left: 0;
    display: block;
}
/*navbar styles*/


.header .bg-light {
	background: #fff !important;
}
.navbar-collapse {
	flex-grow: 0 !important;
}
.navbar-expand-lg {
    justify-content: space-between;
}
.navbar-link {
	position: relative;
	color: #333333 !important;
	font-size: 0.9rem;
}
.navbar-link:before {
	content: "";
    background: #2196F3;
    width: 100%;
    height: 3px;
    position: absolute;
    top: -10px;
    left: 0;
    display: none;
}
.navbar-link:hover,
.navbar-link:active {
	color: #2196F3 !important;
}
.navbar-link:hover:before,
.navbar-link:active:before {
	display: block;
}

/*carousel styles*/

.carousel-img {
	width: 100%;
}
.carousel-caption {
	top: 50%;
	transform: translateY(-50%);
}
.carousel-caption h1 {
	text-transform: capitalize;
    font-size: 3.5rem;
	font-weight: 700;
}
.carousel-caption p {
    font-size: 1.2rem;
    text-transform: capitalize;
	margin: 30px 0;
}
.carousel-caption button {
	text-transform: uppercase;
    padding: 6px 20px;
    font-size: 16px;
    background: #eee;
    border: none;
    box-shadow: 0px 2px 2px #333;
    cursor: pointer;
}

/*Section info*/
section.info {
	padding: 30px 0;
}
.info-item {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.info-item img {
	margin-bottom: 20px;
}

/*Section info2*/


.pills_cont {
	background: #fff;
    padding: 0;
    box-shadow: 0px 0px 3px #ccc;
}


.nav-pills {
	display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0 !important;
}
.nav-pills .nav-link {
    min-height: 60px;
    line-height: 2.5;
    border-radius: 0;
    text-transform: capitalize;
}
.pills-horizontal {
	margin-top: 0;
}
.tab-pane p {
	padding: 10px 20px 20px;
}

/*Section Services*/

section.services {
	background: #fff;
}
.service_item_cont {
	margin-top: 20px;
}
.service_item_cont h5 {
	color: #2196F3;
	font-weight: 600;
}
.service_item_cont img {
	width: 40px;
}
.service_item_cont p {
	font-size: 14px;
	color: #999999;
}

/*section portfolio*/


.info3-item {
	text-align: center;
}
.info3-item p.numb-results {
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 0;
}
.info3-item p.small {
	color: #777;
	font-weight: 600;
}

/*our team*/

.member-card {
	margin: 20px 0;
	box-shadow: 0px 1px 3px #ccc;
	border-radius: 0px;
}
.member-card .card-img-top {
	border-radius: 0;
}
.member-card .card-title {
	color: #2196F3;
    font-size: 1.2rem;
}
.member-card p {
	color: #333;
	font-size: 0.8rem;
}
.social {
	display: flex;
}
.social i {
	color: #777;
	margin-right: 10px;
	font-size: 0.8rem;
}
.social i:hover {
	color: #2196F3;
} 